### Fetching the data for all the stocks of Auto Sector

In [1]:
!pip install yahoofinancials

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoofinancials
  Downloading yahoofinancials-1.14.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.5/41.5 kB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from yahoofinancials) (2022.7.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yahoofinancials) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yahoofinancials) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yahoofinancials) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yahoofinancials) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yahoofinancials) (2.0.12)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.14-py3-none-any.whl size=28643 sha256=0c9583288aaf9d4033c5ca159875114ce09cacb622c60872eecccaf516d1983b
  Stored in directory: /root/.cache/pip/wheels/32/a3/b6/b5b33187f2d42f095fecc236b957b46173fa09e78a106e309f
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.14

In [2]:
# Load libraries
import pandas as pd
import pandas_datareader as dr

In [3]:
import numpy as np
tickers = np.array(['M&M.NS','MARUTI.NS','TATAMOTORS.NS','EICHERMOT.NS',
                    'BAJAJ-AUTO.NS','HEROMOTOCO.NS','TIINDIA.NS',
                    'TVSMOTOR.NS', 'ASHOKLEY.NS', 'BHARATFORG.NS'])
tickers

array(['M&M.NS', 'MARUTI.NS', 'TATAMOTORS.NS', 'EICHERMOT.NS',
       'BAJAJ-AUTO.NS', 'HEROMOTOCO.NS', 'TIINDIA.NS', 'TVSMOTOR.NS',
       'ASHOKLEY.NS', 'BHARATFORG.NS'], dtype='<U13')

In [4]:
from yahoofinancials import YahooFinancials

In [5]:
yahoo_financials = YahooFinancials(tickers)

In [6]:
data = yahoo_financials.get_historical_price_data(start_date='2017-01-01', 
                                                  end_date='2022-12-01', 
                                                  time_interval='daily')

In [7]:
prices_df = pd.DataFrame({
    a: {x['formatted_date']: x['close'] for x in data[a]['prices']} for a in tickers})

In [8]:
prices_df.head()

,M&M.NS,MARUTI.NS,TATAMOTORS.NS,EICHERMOT.NS,BAJAJ-AUTO.NS,HEROMOTOCO.NS,TIINDIA.NS,TVSMOTOR.NS,ASHOKLEY.NS,BHARATFORG.NS
2017-01-02,614.900024,5466.000000,487.049988,2252.395020,2598.500000,3030.550049,NaN,367.649994,81.000000,462.250000
2017-01-03,611.275024,5508.399902,481.100006,2250.070068,2619.199951,2986.550049,NaN,377.399994,81.050003,461.049988
2017-01-04,610.974976,5502.149902,486.649994,2219.649902,2684.100098,3004.899902,NaN,375.250000,83.849998,456.875000
2017-01-05,613.674988,5634.950195,502.149994,2232.435059,2723.350098,3071.750000,NaN,384.799988,83.949997,461.174988
2017-01-06,610.224976,5615.549805,497.750000,2271.774902,2707.350098,3067.550049,NaN,387.100006,85.300003,456.049988

In [9]:
prices_df.to_csv('auto.csv')